<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .btn { padding: 4px 10px; background-color: palevioletred; color: black }
    </style>
    <title>Verification Email</title>
  </head>
  <body>
    <div>
      <h1 style="color: red">Hello {{username}}</h1>
      <h2>Welcome to Instagram</h2>
      <p>Please verify your account, click the button below!</p>
      <a href={{link}} target="_blank">

        <button class="btn">Verify</button>
      </a>
    </div>
  </body>
</html>